#nav {
    position: fixed;
    left: 0;
    background-color: #007bff;
    height: 100%;
    width: 10rem;
}

#nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    /* text-decoration: none; */
}

#nav li {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1.5rem 2.9rem;
}

#nav li:hover {
    background-color: #0056b3;
}

#nav a {
    color: white;
    text-decoration: none;
}